class
genus
family
phylum
superkingdom
order
janne.csv
janne.fasta
All_BLAST.json
All_HMM.json
data/*
figs
__pycache__
.idea
!.gitkeep
venv
1_R1_outputfile.tsv
1_R2_outputfile.tsv
DOOM.json
forward_matches.csv.tblout
reverse_dict
reverse_teamviewer.csv